{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card bg-dark text-white mt-3" >
    <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-subtitle mb-2 text-muted">posted by: {{ post.get_user() }}</p>
        <h5 class="card-text">{{ post.post_section }}</h5>
        {% if current_user.id == post.user_id %}
            <a href="{{ url_for('edit_post', post_id=post.id) }}" class="card-link">Edit</a>
            <a href="{{ url_for('delete_post', post_id=post.id) }}" class="card-link">Delete</a>
        {% endif %}
        
        {% if not current_user.is_anonymous %}
            <form method="POST">
                {{ form.csrf_token }}
                <br>
                <fieldset>
                    {{ form.comment.label }} as {{ current_user.username }}
                    <br>
                    {{ form.comment(class='w-100 min-vh-75 mb-2', max_length=255, placeholder='What are your thoughts?')}}
                </fieldset>
                {{ form.submit(class='mb-5') }}
            </form>
        {% else %}
            <p class='text-muted text-center'><em>Please login to comment on this post</em></p>
        {% endif %}
        
        <h3>Comments</h3>
        {% if post.comments %}
            {% for comment in post.comments %}
                {% if not comment.parent_id %}
                    <div class="card bg-secondary text-light mt-2">
                        <div class="card-body">
                            <h6>{{ comment.get_user() }}</h6>
                            <p class="fs-5">{{ comment.comment_section }}</p> 
                            <p class="mb-0"><a href="{{ url_for('reply', comment_id=comment.id) }}" class="text-dark">Reply</a></p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class='text-muted text-center'><em>Nothing here, be the first to comment!</em></p>
        {% endif %}
    </div>
  </div>
{% endblock %}